@use "src/scss/abstracts/color";

.category {
    position: relative;

    &__img {
        height: 160px;
    }
    &::after {
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        border-radius: 8px;
        background-color: color.$light-grey;
        margin-inline: auto;
        transform: translate(0, 25%);
        z-index: -1;
        @media (width > 1440px) {
            width: 340px;
        }
    }
}
