@use "./../mixins/main-padding" as *;

.new-product {
    position: relative;
    background-color: #191919;
    &__img {
        max-width: 100%;
        max-height: 100vh;
        display: block;
        margin: 0 auto;
        @media (width <= 1024px) {
            margin: 0 auto;
        }
    }
    &__text {
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        @include main-padding;
        padding-top: 7em;
        padding-bottom: 12em;
        display: grid;
        gap: 24px;
        width: 30%;
        @media (width <= 1024px) {
            width: 60%;
            text-align: center;
            margin: 0 auto;
        }
        @media (width <= 414px) {
            width: 100%;
        }
    }
}
