@use "./../mixins/main-padding" as *;

.new-product {
    position: relative;
    background-color: #191919;
    &__img {
        max-width: 100%;
    }
    &__text {
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        @include main-padding;
        padding-top: 7em;
        padding-bottom: 12em;
        display: grid;
        gap: 24px;
        width: 30%;
    }
}
