@use "src/scss/abstracts/color";
@use "src/scss/abstracts/fonts/font-size";
@use "./../mixins/main_padding" as *;

.yx1 {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    @media (414px >= width) {
        flex-direction: column;
        gap: 24px;
    }
    &__img {
        border-radius: 8px;
        width: calc(50% - 16px);
        @media (414px >= width) {
            width: 100%;
        }
    }
    &__plate {
        width: calc(50% - 16px);
        padding: 6em 9em;
        border-radius: 8px;
        background-color: color.$light-grey;
        @media (width <= 414px) {
            width: 100%;
            padding: 2.5em;
        }
        @media (800px >= width) {
            padding: 2.5em;
        }
        &__text {
            display: grid;
            gap: 32px;
            align-self: center;
            border-radius: 8px;
            &__button {
                margin-top: 32px;
                margin-bottom: 46px;
            }
        }
    }
}
