@use "src/scss/abstracts/color";
@use "src/scss/abstracts/fonts/font-size";
@use "./../mixins/main-padding" as *;

.zx7 {
    background-color: white;
    &__plate {
        position: relative;
        z-index: 0;
        &__img {
            width: 100%;
            border-radius: 8px;
        }
        &__text {
            display: grid;
            z-index: 2;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 6em;
            @media (414px < width <= 1040px) {
                padding: 4em 3em;
            }
            @media (414px >= width) {
                padding: 2.6em;
            }
            &__button {
                margin-bottom: 46px;
            }
        }
    }
}
