@use "src/scss/abstracts/color";
@use "src/scss/abstracts/fonts/letter-spacing";
@use "src/scss/abstracts/fonts/font-size";
@use "./../mixins/icon" as *;
@use "./../mixins/main_padding" as *;

.footer {
    width: 100%;
    @include main_padding;
    padding-top: 4.3em;
    padding-bottom: 3.2em;
    background-color: color.$black;
    color: color.$white;
    font-size: font-size.$subtitle;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        height: 1px;
        width: 100px;
        background-color: color.$dark-orange;
        top: 0;
    }
    &__content {
        margin-top: 2.4em;
        display: grid;
        grid-template-columns: auto auto;
        @media (width <= 414px) {
            grid-template-columns: auto;
        }
        &__text {
            width: 50%;
            color: grey;
            @media (width <= 414px) {
                margin-inline: auto;
                text-align: center;
            }
        }
        &__social {
            display: flex;
            gap: 1em;
            align-self: flex-end;
            margin-left: auto;
            margin-right: 0;
            @include icon("facebook");
            @include icon("twitter");
            @include icon("instagram");
            @media (width <= 414px) {
                margin: 2em auto;
                text-align: center;
            }
        }
    }
    &__copyright {
        margin-top: 2em;
        color: grey;
        @media (width <= 414px) {
            text-align: center;
        }
    }
}
