@use "src/scss/abstracts/color";
@use "src/scss/abstracts/fonts/letter-spacing";
@use "src/scss/abstracts/fonts/font-size";
@use "./../mixins/icon" as *;
@use "./../mixins/main_padding" as *;

.header {
    width: 100vw;
    background-color: color.$black;
    color: color.$white;
    font-size: font-size.$subtitle;
    @include main_padding;
    padding-top: 2.1em;
    padding-bottom: 2.1em;
    &__content {
        display: grid;
        grid-template-columns: auto max-content;
        position: relative;
        &__logo {
            @media (414px <= width <= 1280px) {
                margin-left: 3em;
            }
            @media (width <= 414px) {
                //fix this
                margin-inline: auto;
            }
        }
        &__icon {
            @include icon("cart");
            @include icon("hamburger");
            &--hamburger {
                position: absolute;
            }
        }
        &__mobile-menu {
            height: 100vh;
            width: 100vw;
            background-color: black;
        }
        &:after {
            content: "";
            position: absolute;
            border-bottom: 1px solid grey;
            height: calc(100% + 2em);
            width: 100%;
        }
    }
}
