@use "src/scss/abstracts/color";
@use "src/scss/abstracts/fonts/letter-spacing";
@use "src/scss/abstracts/fonts/font-size";

.header {
    width: 100%;
    padding: 2em 12.69em;
    background-color: color.$black;
    color: color.$white;
    font-size: font-size.$subtitle;
    &__content {
        display: flex;
        justify-content: space-between;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            border-bottom: 1px solid #979797;
            height: calc(100% + 2em);
            width: 100%;
        }
    }
}
