@use "src/scss/abstracts/color";

.navbar {
    display: flex;
    justify-content: space-between;

    &__links {
        z-index: 10;
        display: flex;
        gap: 1em;
        & a:hover {
            color: color.$dark-orange;
        }
        &--header {
            width: 30%;
        }
        &--footer {
        }
    }
}
