@use "src/scss/abstracts/color";
@use "src/scss/abstracts/fonts/font-size";
@use "./../mixins/main_padding" as *;

.zx7 {
    background-color: white;
    &__plate {
        position: relative;
        z-index: 0;
        border-radius: 8px;
        &__img {
            width: 100%;
            z-index: 1;
            border-radius: 8px;
        }
        &__text {
            display: grid;
            gap: 32px;
            z-index: 2;
            position: absolute;
            align-self: center;
            transform: translate(50%, 50%);
            @media (414px < width <= 1040px) {
                transform: translate(50%, 150%);
            }
            @media (414px >= width) {
                transform: translate(2em, 5em);
            }
            &__button {
                margin-bottom: 46px;
            }
        }
    }
}
