@use "src/scss/abstracts/color";
@use "src/scss/abstracts/fonts/letter-spacing";
@use "src/scss/abstracts/fonts/font-size";
// @use "./../mixins/icon" as *;
@use "./../mixins/main_padding" as *;

.best-gear {
    @include main_padding;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(540px, 1fr));
    gap: 125px;
    grid-template-areas: "1 2";

    @media (width <= 1280px) {
        grid-template-columns: auto;
        column-gap: normal;
        grid-row-gap: 40px;
    }
    &__text {
        @media (width <= 1280px) {
            grid-area: 2;
        }
        &__headline {
            font-size: font-size.$H2;
            font-weight: bold;
            margin-bottom: 32px;
            @media (width <= 1280px) {
                font-size: font-size.$H5;
            }
            &__highlight {
                color: color.$dark-orange;
            }
        }
        &__description {
            font-size: font-size.$overline;
            opacity: 0.5;
        }
    }
    img {
        @media (width <= 1280px) {
            grid-area: 1;
        }
        max-width: 100%;
    }
}
