@mixin main_padding {
    padding-left: 12.69em;
    padding-right: 12.69em;
    @media (width <= 1024px) {
        padding-left: 2.1em;
        padding-right: 2.1em;
    }
    @media (width <= 414px) {
        padding-left: 1.6em;
        padding-right: 1.6em;
    }
}
