$dark-orange: hsl(22, 65%, 57%);
$dark-brown: hsl(0, 0%, 6%);
$light-grey: hsl(0, 0%, 95%);
$very-light-grey: hsl(0, 0%, 98%);

$light-orange: hsl(21, 94%, 75%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

$error-red: #cd2c2c;
