@use "src/scss/abstracts/color";
@use "src/scss/abstracts/fonts/letter-spacing";
@use "src/scss/abstracts/fonts/font-size";
@use "sass:map";

.text {
    &--white {
        color: white;
    }
    &--black {
        color: black;
    }
    @media (width <= 1025px) {
        font-size: map.get(font-size.$all, H3);
    }
}

.H1,
.H2,
.H3,
.H4,
.H5 {
    // font-size: map.get(font-size.$all, &);
    // letter-spacing: map.get(letter-spacing.$all, &);
    font-weight: bold;
}

.H2 {
    @media (width <= 1025px) {
        font-size: map.get(font-size.$all, H5);
    }
}
