@use "src/scss/abstracts/color";
@use "src/scss/abstracts/fonts/font-size";
@use "./../mixins/main-padding" as *;
@use "sass:map";

.best-gear {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 125px;
    grid-template-areas: "1 2";
    @media (width < 1025px) {
        grid-template-columns: auto;
        column-gap: normal;
        grid-row-gap: 40px;
    }
    &__text {
        display: grid;
        align-content: center;
        max-width: 440px;
        @media (width <= 1025px) {
            grid-area: 2;
            max-width: 100%;
            text-align: center;
        }
        &__headline {
            margin-bottom: 32px;
        }
        &__description {
            font-size: map.get(font-size.$all, overline);
            opacity: 0.5;
        }
    }
    img {
        max-width: 100%;
        justify-self: flex-end;
        @media (width <= 1025px) {
            grid-area: 1;
            justify-self: center;
        }
    }
}
