@use "./../mixins/main_padding" as *;

.categories {
    display: grid;
    gap: 30px;
    grid-auto-flow: column;
    text-align: center;
    @media (width <= 1024px) {
        grid-auto-flow: row;
        gap: 132px;
    }
    // @media (width < 1025px) {
    //     gap: 132px;
    // }
}
