@use "./../mixins/main-padding" as *;

.categories {
    display: grid;
    gap: 30px;
    grid-auto-flow: column;
    text-align: center;
    @media (width <= 624px) {
        grid-auto-flow: row;
        gap: 132px;
    }
}
